/*
 * Copyright © 2015-2017 Serenova, LLC. All rights reserved.
 */

/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import { connect } from 'react-redux';
{{#if wantHeaders}}
import Helmet from 'react-helmet';
{{/if}}
{{#if wantActionsAndReducer}}
import select{{properCase name}} from './selectors';
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if wantCSS}}
import Radium from 'radium';
{{/if}}

export class {{ properCase name }} extends React.{{{ component }}} { 
  {{#if wantCSS}}
  styles = {
    base: {
      // styles
    },
  }
  {{/if}}

  render() {
    return (
      {{#if wantCSS}}
      <div style={{curly true}}this.styles.base{{curly}}>
      {{else}}
      <div>
      {{/if}}
      {{#if wantHeaders}}
        <Helmet
          title="{{properCase name}}"
          meta={{curly true}}[
            {{curly true}} name: 'description', content: 'Description of {{properCase name}}' {{curly}},
          ]{{curly}}
        />
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    );
  }
}

{{#if wantActionsAndReducer}}
const mapStateToProps = select{{properCase name}}();
{{/if}}

function mapDispatchToProps(dispatch) {
  return {
    dispatch,
  };
}

{{#if wantActionsAndReducer}}
  {{#if wantCSS}}
export default connect(mapStateToProps, mapDispatchToProps)(Radium({{ properCase name }}));
  {{else}}
export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }});
  {{/if}}
{{else}}
  {{#if wantCSS}}
export default connect(null, mapDispatchToProps)(Radium({{ properCase name }}));
  {{else}}
export default connect(null, mapDispatchToProps)({{ properCase name }});
  {{/if}}
{{/if}}
