/*
 * Copyright © 2015-2017 Serenova, LLC. All rights reserved.
 */

/**
*
* {{ properCase name }}
*
*/

import React from 'react';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if wantCSS}}
import Radium from 'radium';
{{/if}}

class {{ properCase name }} extends React.Component { 
  {{#if wantCSS}}
  styles = {
    base: {
      // styles
    },
  }
  {{/if}}

  render() {
    return (
      {{#if wantCSS}}
      <div style={{curly true}}this.styles.base{{curly}}>
      {{else}}
      <div>
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    );
  }
}

{{#if wantCSS}}
export default Radium({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
